/* 
components: input.scss
*/

.input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size: 18px;

  &--primary {
    border: 2px solid $color--tertiary;
    border-radius: $border--round;
    padding: 8px;
  }
  &__container {
    display: flex;
    width: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
