/* 
components: task.scss
*/

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $color--tertiary;
  border-radius: $border--round;
  padding: 16px;
  font-size: 24px;
  color: $color--blueish;

  background-image: $gradient;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border: 2px solid $color--tertiary;
    border-radius: $border--round;
    box-shadow: 2px 2px 40px $color--tertiary;
    width: 500px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
